<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="./stylesheets/style.css" type="text/css" />
		<link rel="stylesheet" href="stylesheets/jquery-jvectormap-2.0.5.css" type="text/css" />
		<title>TravelR</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery-jvectormap-2.0.5.min.js"></script>
  		<script src="js/jquery-jvectormap-us-aea.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>