<div class="container" style="background-image: url('../public/assets/RT4.jpg')">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
      <a class="navbar-brand" href="/map">
     Map
    </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>
  <div class="container">
   
    <div class="row">
      <div class="col-md-12">
        <h3 class="Hotels">
         
        </h3>
         <div class="hotel-list">
          <!-- gonna be a whole lot of div/cards for hotels here -->
        </div>
      </div>
    </div>
  </div>
  </div>