 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
      <a class="navbar-brand" href="/hotels">
      Hotels
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="states" style="text-align: center;">
          Here is your personalized map!
        </h3>
         <div>
          <!-- map goes here later -->
        </div>
      </div>
    </div>
  </div>