 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
      <a class="navbar-brand" href="/hotels">
      Hotels
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="states" style="text-align: center;">
          Here is your personalized map!
        </h3>
        <h4 id="user-direction" style="text-align: center;">Click the States Below that You've Visited</h4>
         <div id="map" style="width: 600px; height: 475px; margin: auto">
          <!-- map goes here later -->
        </div>
        <div class="text-center">
          <button class="btn-primary" id="plan">Press to Select the States You Want to Visit</button>
        </div>
      </div>
    </div>
  </div>
  <script src="./dist/map.js"></script>
  <script src="./js/members.js"></script>