body {
  background: url("../assets/RT2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form.signup,
form.login {
  margin-top: 70%;
}

h2{
  color: #704A3D;
  font-size: 30px;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
}

.labelText{
  color:white;
}

a {
  color: #0D2F4F;
  font-weight: 500;
}

#ex {
  color: #0D2F4F;
  font-weight: 700;

}




h1,h3 {
  color: #704A3D;
}

#R,h4 {
  color: #0D2F4F;
}